.filter {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #fff;
}

select {
    width: max-content;
    height: max-content;
    margin: 1rem .2rem;
    padding: 10px 50px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 12px #393939;
    font-weight: bolder;
    font-size: 1rem;
}